
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:darkgrey;
    }
    
    .container{
    
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-right: 10px;
        margin: 200px;
        margin-top: 20px;
    
    }
    
    .profissoes{
        background-color: black;
        margin: 15px; /* */
        border: 10px double aquamarine; /* arredondamento da borda*/
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 20%;
    }
    
    .salario{
        text-align: left;
        background-color: black;
        margin: 15px; 
        border: 5px double aquamarine;
        border-radius: 50px;
        padding: 10px;
        color:aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 20%;
    }
    
    h1 {
        text-align: center;
        color:aquamarine;
    }
    
    .Programadorweb{
        text-align: left;
        background-color: black;
        margin: 15px; /* */
        border: 5px double aquamarine; 
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 95%;
    
    }
    .oquefaz{
        text-align: left;
        background-color: black;
        margin: 15px; /* */
        border: 5px double aquamarine; 
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
    
    }
    
    .imagens{
        text-align: center;
    }
    
    
    h3{
        text-align: center;
        color:aquamarine;
    }
    
    .imagensempresas{
        text-align: center;
    }
    
    .apresentaçao{
        text-align: center;
        background-color: black;
        border: 10px groove black;
        margin: 10px;
        border: 10px inset aquamarine;
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 90%;
    }
    
    .conteinerr{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-right: 10px;
        margin: 50px;
        margin-top: 20px;
    }
    
    .funcoes{
        text-align: left;
        background-color: black;
        margin: 15px; /* */
        border: 10px double aquamarine; 
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 20%;
    }
    
    .educaçao{
        text-align: left;
        background-color: black;
        margin: 15px; /* */
        border: 10px double aquamarine; 
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 20%;
    }
    
    .skills{
        text-align: left;
        background-color: black;
        margin: 15px; /* */
        border: 10px double aquamarine;
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 20%;
    }
    
    .salarios{
        text-align: left;
        background-color: black;
        margin: 15px; /* */
        border: 5px double aquamarine;
        border-radius: 50px;
        padding: 10px;
        color: aquamarine;
        box-shadow: 0px 0px 10px rgb(68, 0, 128);
        width: 95%;
    }
     .empresascontrata{
        text-align: left;
     }
    
     p {
        text-align: center;
        color: aquamarine;
     }
    
     .oquefazz{
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        margin: 200px;
        margin-top: 30px;
     }
    